
#main-header {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
  background-color: #e65c00;
}

header img {
  margin-top: 30px;
}

header h2 {
  margin-top: -40px;
}
