nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.nav-write-tweet {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-write-tweet .icon {
  color:palevioletred
}

@media only screen and (max-width: 1024px) {
  nav {
    background-color: transparent;
  }
}